<div class="bee-shopping--header">
    <div class="bee-shopping-logo">
        <!-- <img src="images/logo.jpeg"> -->
        Bee-shopping
    </div>
    <div class="bee-shopping--header--nav">
     <!-----------------TOP MENU-------------->
     <app-top-head></app-top-head>
        <div class="bee-shopping--bottom--bar">
          <!------------MAIN MENU------------->
           <app-main-menu></app-main-menu>
            <div class="bee-shopping--search-bar">
                <input type="text" class="bee-shopping-search-box" placeholder="Search">
                <button class="bee-shopping--search--btn">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
                
            </div>
        </div>
        
    </div>
</div>